name: Build and Push Docker Image

on:
  release:
    types: [published]

jobs:
  build_docker_image:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./
          push: true
          tags: ${{ secrets.BACK_REP }}:latest, ${{ secrets.BACK_REP }}:${{ github.ref_name }}
          labels: backend

      - name: Deploy to production
        run: curl --request GET \ --url ${{ secrets.RENDER_URL }}